body {
  margin: 0;
  background-color: #100c22;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  color: #f4f4f4;
  gap: 20px;
}

h1 {
  font-size: 4rem;
}

#calculator {
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 40px 10px 20px 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 30px black;
}

#calculator #display {
  margin: 0 0 25px 0;
  font-size: 1.8rem;
  height: 50px;
  border-radius: 15px;
  color: #222;
  box-shadow: 0px 0px 30px #000;
  border: none;
  background-color: #abc6ab;
}

#calculator #keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#calculator #keys button {
  padding: 20px;
  margin: 5px;
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  color: #222;
  background-color: lightgrey;
  transition: 0.1s;
  font-weight: 600;
}

#calculator #keys button:hover {
  cursor: pointer;
  transition: 0.1s;
  background-color: #f4f4f4;
}

#calculator #keys .operation {
  background-color: #f08080;
}

#calculator #keys .operation:hover {
  background-color: #ff9999;
}

#calculator #keys .clear {
  background-color: lightsalmon;
}

#calculator #keys .clear:hover {
  background-color: #f7b398;
}

#calculator #keys .equal {
  background-color: lightgreen;
}

#calculator #keys .equal:hover {
  background-color: #baf9ba;
}
